.comics__description{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.comics__title{
    width: 100%;
    text-align: center;
}
.comics__imageinforamtion{
    display: flex;
}
.comics__information{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.comics__info,
.comics__page {
    font: 400 1rem Open Sans,Trebuchet MS,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.comics__right{
    padding-left: 20px;
    max-width: 600px;
}
.comics__left{
    min-width: 100px;
    padding-left: 20px;
}
.comics__images{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.comics__images img{
    animation: tranlationstart 0.6s ease-out 0s 1 forwards;
}
.comics__images img:hover {
    animation: tranlation 0.6s ease-out 0s 1 forwards;
    cursor: pointer;
    opacity: 0.9;
}

@keyframes tranlation{
    30%{
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(-5px);
    }
    70%{
        transform: translateY(-7px);
    }
    100%{
            transform: translateY(-10px);
    }
}
@keyframes tranlationstart{
    0%{
        transform: translateY(-10px);
    }
    100%{
            transform: translateY(0px);
    }
}
.comics__characters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.comics__container{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
    cursor: pointer;
}